{% extends "base.njk" %}

{% block content %}

    <section class="site-contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <h1 class="site-contact-title">
              {{cta.title}}<span>{{cta.subTitle}}</span>
            </h1>
          </div>
          <div class="col-lg-6 ml-auto">
            <div class="site-contact-form">
              <h4>{{formTitle}}</h4>
              <form name="contact" method="POST" data-netlify="true" >
                <div class="row">
                  <div class="col-lg-6">
                    <input type="text" class="form-control" name="first-name" id="first-name" placeholder="First Name">
                  </div>
                  <div class="col-lg-6">
                    <input type="text" class="form-control" name="last-name" id="last-name" placeholder="Last Name">
                  </div>
                  <div class="col-lg-6">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                  </div>
                  <div class="col-lg-6">
                    <div class="select-wrapper">
                      <select class="form-control" name="project-type" id="projectType">
                        <option value="" selected disabled hidden>Project Type</option>
                        <option value="analytics">Analytics</option>
                        <option value="conversion">Conversion Rate Optimisation</option>
                        <option value="consultancy">Consultancy</option>
                        <option value="training">Training</option>
                        <option value="other">Other</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-12">
                    <textarea class="form-control" name="message" id="aboutProject" rows="6" placeholder="Message"></textarea>
                  </div>
                  <div class="col-12">
                    <button type="submit" class="btn btn-primary" formtarget="_blank">
                      <span class="btn-area">
                        <span data-text="{{btnText}}">
                          {{btnText}}
                        </span>
                      </span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  
{% endblock %}
{% block workTogether %}{% endblock %}
